
* {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: math;
  background: #000000;
  color: #fff;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 1.7em;
}

hr{
  width: 100%;
  margin: 50px;
}

/* ===== PRODUTOS ===== */
#products {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  max-width: 1000px;
  width: 100%;
  justify-content: center;
}

.product {
  background: #2f2f2f;
  display: flex;
  padding: 10px;
  gap: 10px;
  max-width: 480px;
  border-radius: 8px;
  transition: box-shadow 0.2s;
}

.price{
    font-size: 20px;
}
.buy{
    padding: 2px;
    font-size: 17px;
}
.product img {
  width: 120px;
  height: auto;
  border-radius: 6px;
}

.product > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  align-items: center;
}

.product button {
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  animation: sombraColorida 3s infinite linear;
 
}

/* ===== HOVER ===== */
.product:hover {
  box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.4);
}

.store{
  font-size: 12px;
    width: 100%;
    text-align: left;
}

.price{
  color: green;
}

footer{
  margin-top: 100px;
}
ul{
    padding: 0;
}
li{
  font-family:  Arial, Helvetica, sans-serif;
  list-style-type: none;
  margin: 10px 0px;
}

/* ===== MOBILE ===== */
@media (max-width: 600px) {

  #logo {
    flex-direction: column;
    gap: 5px;
  }

  .product {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .product img {
    width: 100%;
    max-width: 200px;
  }

  footer {
    margin-top: 50px;
    font-size: 12px;
  }
}

@keyframes sombraColorida {
  0% {
    text-shadow: 1px 1px 2px #c45050a3;
  }
  25% {
    text-shadow: 1px 1px 2px #50c4a3;
  }
  50% {
    text-shadow: 1px 1px 2px #5075c4;
  }
  75% {
    text-shadow: 1px 1px 2px #c450b8;
  }
  100% {
    text-shadow: 1px 1px 2px #c45050a3;
  }
}