* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  background: black;
  color: #fff;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  line-height: 1.5;
}

p{
  font-family: Arial, Helvetica, sans-serif;
}


#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

h1 {
  font-size: 1.7em;
 
}

hr {
  width: 100%;
  margin: 50px;
}

.fav-btn{
  font-size: 15px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
  padding: 0px;
  border-radius: 100%;
  color: black;
  border: 0.5px solid rgb(40, 40, 40);
  
  transition: 100ms ease-in-out;

}


@media (hover: none) {
  .fav-btn:active {
    transform: scale(110%);
    transition: 100ms ease-in-out;

  }
}


button {
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: black;
}

button.checked {
  background-color: rgb(125, 125, 125);
  border: 1px solid black;
  transition: 200ms;

}

.options {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  margin: 25px 0px;
  justify-content: center;
}

.image {
  height: 220px;
  width: 200px;
  background-position: center;
  background-size: cover;
}

/* ===== PRODUTOS ===== */
.products {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  max-width: 1000px;
  width: 100%;
  min-height: 232px;
  justify-content: center;
}
.sortProducts{
  margin: 15px 0px;
}

.product {
  background: #141414;
  box-shadow: 0px 0px 1px 1px #2f2f2f;
  box-sizing: content-box;
  width: 200px;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 5px;
  max-width: 400px;
 
  transition: box-shadow 0.2s;
  flex-direction: column;
  position: relative;
  
  height: min-content;


}
.sortProduct{
  box-shadow: 0px 0px 10px #a8a8a88f;
  border-radius: 10px;
}


.price {
  font-size: 20px;
  text-shadow: 0 0 4px #000000de;
}

.buy {
  padding: 2px;
  font-size: 17px;
}

.product img {
  width: 120px;
  height: auto;
  border-radius: 6px;
}

#message{
  position: fixed;
  top: 0;
  left: 0;
  margin: 30px;
  background-color: #1c1c1cba;
  z-index: 1;
}

.product>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  align-items: center;
}

.product button:nth-of-type(2) {
  animation: sombraColorida 4s linear infinite;
}



.store {
  font-size: 12px;
  width: 100%;
  font-style: italic;
  
}

.name{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.price {
  color: green;
  white-space: nowrap;
}

footer {
  margin-top: 100px;
}
a{
  color: whitesmoke;
    text-underline-offset: 5px;
}

ul {
  padding: 0;
}

li{
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
  margin: 10px 0px;
  display: flex;
  align-items: center;
}



/* ===== MOBILE ===== */
@media (max-width: 600px) {

  #logo {
    flex-direction: column;
   
    gap: 5px;
  }

  .product {
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 140px;
  
   

  }

  .image {
    width: 140px;
    height: 154px;
  }

  

  footer {
    margin-top: 50px;
    font-size: 12px;
  }
}

@keyframes sombraColorida {
  0% {
    text-shadow: 1px 1px 2px #c45050a3;
    box-shadow: 0px 0px 5px #c45050a3;
  }

  25% {
    text-shadow: 1px 1px 2px #50c4a3;
    box-shadow: 0px 0px 5px #50c4a3;
  }

  50% {
    text-shadow: 1px 1px 2px #5075c4;
    box-shadow: 0px 0px 5px #5075c4;
  }

  75% {
    text-shadow: 1px 1px 2px #c450b8;
    box-shadow: 0px 0px 5px #c450b8;
  }

  100% {
    text-shadow: 1px 1px 2px #c45050a3;
    box-shadow: 0px 0px 5px #c45050a3;
  }
}



@keyframes caixaColorida {
  0% {
    text-shadow: 1px 1px 2px #c45050a3;
    box-shadow: 0px 0px 30px #c45050a3;
  }

  25% {
    text-shadow: 1px 1px 2px #50c4a3;
    box-shadow: 0px 0px 30px #50c4a3;
  }

  50% {
    text-shadow: 1px 1px 2px #5075c4;
    box-shadow: 0px 0px 30px #5075c4;
  }

  75% {
    text-shadow: 1px 1px 2px #c450b8;
    box-shadow: 0px 0px 30px #c450b8;
  }

  100% {
    text-shadow: 1px 1px 2px #c45050a3;
    box-shadow: 0px 0px 30px #c45050a3;
  }
}